/node_modules
/node_modules/*
session.json
chats/*
!chats/.gitkeep
media/*
!media/.gitkeep
mediaSend/*
!mediaSend/.gitkeep
!mediaSend/nota-de-voz.mp3
.wwebjs_auth
/baileys_sessions/*
bot.qr.png
backup
backup/*
/implementaciones/credenciales.json

